
.book{
    width: 35vw;
    height: 80vh;
    position: relative;
    transition: 2s;
    perspective: 1500;
}

input{
    display: none;
}

.cover, .back-cover {
    background-color: #FFB1BE;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    z-index: 5;
    transform-origin: center left;
    transition: 1s;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;

}

.cover label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover {
    position: relative;
    z-index: -1;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.front-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back-page{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 99;
}

.page{
    z-index: 1;
    background-color: #F8F0E1;
    position: absolute;
    width: 30vw;
    height: 75vh;
    border-radius: 0 15px 15px 0;
    margin-top: 15px;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
}

.next, .prev{
    position: absolute;
    bottom: 1em;
    cursor: pointer;
}


.style{
    position: absolute;
    top: 0;
    right: 20%;
    height: 35%;
    width: 10%;
    background-color: black;
}
.next{
    right: 1em;
}

.prev{
    left: 1em;
}

#page1{
    z-index: 3;
}
#page2{
    z-index: 2;
}
#page3{
    z-index: 1;
}

#checkbox-cover:checked ~ .book {
    transform: translateX(50%);
}
#checkbox-cover:checked ~ .book .cover {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}
#checkbox-cover:checked ~ .book .page {
    box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox-page1:checked ~ .book #page1 {
    transform: rotateY(-180deg);
    z-index: 2;
}
#checkbox-page2:checked ~ .book #page2 {
    transform: rotateY(-180deg);
    z-index: 3;
}
#checkbox-page3:checked ~ .book #page3 {
    transform: rotateY(-180deg);
    z-index: 4;
}