* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    cursor: url("/img/cursor1.png"),  auto;
}

.background {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: url("/img/mano.png"),  auto;
}

button:hover {
    cursor: url("/img/mano.png"),  auto;
}

input:hover {
    cursor: url("/img/mano.png"),  auto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;
    a {
        text-decoration: none;
    }
}

.nubes {
    background-image: url(/img/nube.png);
    background-size: 100% 100%;
    z-index: 2;
}

@keyframes movimiento1 {
    from {margin-left: 79%;}
    to {margin-left: 65%;}
}

@keyframes movimiento2 {
    from {margin-left: 89%;}
    to {margin-left: 80%;}
}

@keyframes movimiento3 {
    from {margin-left: 59%;}
    to {margin-left: 75%;}
}

@keyframes movimiento4 {
    from {margin-left: 70%;}
    to {margin-left: 67%;}
}

@keyframes movimiento5 {
    from {margin-left: -5%;}
    to {margin-left: 40%;}
}

@keyframes movimiento6 {
    from {margin-left: -15%;}
    to {margin-left: 23%;}
}

@keyframes movimiento7 {
    from {margin-left: -10%;}
    to {margin-left: 10%;}
}

@keyframes movimiento8 {
    from {margin-left: 5%;}
    to {margin-left: 30%;}
}

.nubes:nth-child(1) {
    background-image: url(/img/nube.png);
    animation: movimiento1 6s linear forwards;
}

.nubes:nth-child(2) {
    background-image: url(/img/nube.png);
    animation: movimiento2 6s linear forwards;
}

.nubes:nth-child(3) {
    background-image: url(/img/nube.png);
    animation: movimiento3 6s linear forwards;
}

.nubes:nth-child(4) {
    background-image: url(/img/nube.png);
    animation: movimiento4 6s linear forwards;
}

.nubes:nth-child(5) {
    background-image: url(/img/nube.png);
    animation: movimiento5 6s linear forwards;
}

.nubes:nth-child(6) {
    background-image: url(/img/nube.png);
    animation: movimiento6 6s linear forwards;
}

.nubes:nth-child(7) {
    background-image: url(/img/nube.png);
    animation: movimiento7 6s linear forwards;
}

.nubes:nth-child(8) {
    background-image: url(/img/nube.png);
    animation: movimiento8 6s linear forwards;
}

.nube1 {
    position: fixed;
    top: 50px;
    width: 150px;
    height: 50px;
}

.nube2 {
    position: fixed;
    top: 100px;
    width: 150px;
    height: 50px;
}

.nube3 {
    position: fixed;
    top: 150px;
    width: 150px;
    height: 70px;
}

.nube4 {
    position: fixed;
    top: 200px;
    width: 150px;
    height: 50px;
    z-index: 0;
}

.nube5 {
    position: fixed;
    top: 300px;
    width: 150px;
    height: 50px;
}

.nube6 {
    position: fixed;
    top: 350px;
    width: 170px;
    height: 85px;
}

.nube7 {
    position: fixed;
    top: 420px;
    width: 150px;
    height: 50px;
}

.nube8 {
    position: fixed;
    top: 470px;
    width: 180px;
    height: 90px;
}

.div-form-comment {
    margin-top: 5%;
    display: flex;
}

.comment-form {
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.textarea{
    margin-top: 20px;
    width: 80%;
    height: 80px;
    resize: none;
    padding: 15px;
    border-radius: 50px;
    background-color: #fdfae6;
    border: 2px solid black;
    z-index: 2;
}

.textarea::-webkit-scrollbar {
    display: none;
}


.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardComment {
    background-color: #fdfae6;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 30%;
    height: 300px;
    z-index: 2;
}

.sectionContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "col1 col2";
    height: 70%;
}

.commentContent {
    grid-area: col2;
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}

.headerCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

svg {
    width: 20px;
    height: 20px;
}

.happyFace {
    background-color: #D9D9D9;
    border-radius: 50%;
}

.replyButton {
    border: none;
    background-color: #fdfae6;
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
}
