* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Jersey 10", sans-serif;
    background-image: url("/img/bgMinors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("/img/cursor1.png"),  auto;
}

a {
    text-decoration: none;
    cursor: url("/img/mano.png"),  auto;
}

button:hover {
    cursor: url("/img/mano.png"),  auto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 40px;
    a {
        text-decoration: none;
    }
}


main {
    padding: 1rem;
    height: 80vh;
    display: flex;
}
.section-book{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------Buttons and hearts------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    
}

.containerButtons {
    /* background-color: brown; */
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: end;
}

.containerHearts {
    /* background-color: yellow; */
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.container-buttons-hearts{
    display: flex;
    width: 50%;
    justify-content: end;
}

.buttonFeel {
    width: 140px;
    height: 50px;
    justify-content: end;
    border-radius: 30px;
    background-color: #fdfae6;
    border: 2px solid black;
}


/* Animation buttons */

/* Happy button */
.buttonHappy {
    --bg: #fdfae6;
    --hover-bg: #ff8200;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonHappy:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonHappy:active {
    transform: translate(0);
    box-shadow: none;
}

/* Rabid button */
.buttonRabid {
    --bg: #fdfae6;
    --hover-bg: #ff0053;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonRabid:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonRabid:active {
    transform: translate(0);
    box-shadow: none;
}

/* Sad button */
.buttonSad {
    --bg: #fdfae6;
    --hover-bg: #38b6ff;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonSad:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonSad:active {
    transform: translate(0);
    box-shadow: none;
}

/* Worried button */
.buttonWorried {
    --bg: #fdfae6;
    --hover-bg: #ffcc00;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonWorried:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonWorried:active {
    transform: translate(0);
    box-shadow: none;
}

/* Scary button */
.buttonScary {
    --bg: #fdfae6;
    --hover-bg: #00fff2;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonScary:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonScary:active {
    transform: translate(0);
    box-shadow: none;
}

.heartHappy {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8200;
    border: 2px solid rgb(0, 0, 0);
}

.heartRabid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0053;
    border: 2px solid black;
}

.heartSad {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38b6ff;
    border: 2px solid black;
}

.heartWorried {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    border: 2px solid black;
}

.heartScary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00fff2;
    border: 2px solid black;
}

.heart {
    color: #fdfae6;
    font-size: 20px;
}
