* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-family: "Jersey 10", sans-serif;
    background-image: url("/img/bgMinors.jpg");
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    a {
        text-decoration: none;
    }
    
}

header {
    margin: 1rem;
    margin-left: 0;
}


main {
    display: flex;
    margin: 1rem;
}

.section-book{
    width: 100%;
    display: flex;
}

/* -----------------------------------Buttons and hearts------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerButtons {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: end;
}

.containerHearts {
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.container-buttons-hearts{
    display: flex;
    width: 50%;
    justify-content: end;
}

.buttonFeel {
    width: 140px;
    height: 50px;
    justify-content: end;
    border-radius: 30px;
    background-color: #fdfae6;
    border: 2px solid black;
}


/* Animation buttons */

/* Happy button */
.buttonHappy {
    --bg: #fdfae6;
    --hover-bg: #ff8200;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonHappy:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonHappy:active {
    transform: translate(0);
    box-shadow: none;
}

/* Rabid button */
.buttonRabid {
    --bg: #fdfae6;
    --hover-bg: #ff0053;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonRabid:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonRabid:active {
    transform: translate(0);
    box-shadow: none;
}

/* Sad button */
.buttonSad {
    --bg: #fdfae6;
    --hover-bg: #38b6ff;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.buttonSad:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}

.buttonSad:active {
    transform: translate(0);
    box-shadow: none;
}

/* Worried button */
.buttonWorried {
    --bg: #fdfae6;
    --hover-bg: #ffcc00;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.buttonWorried:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}

.buttonWorried:active {
    transform: translate(0);
    box-shadow: none;
}

/* Scary button */
.buttonScary {
    --bg: #fdfae6;
    --hover-bg: #00fff2;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.buttonScary:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}

.buttonScary:active {
    transform: translate(0);
    box-shadow: none;
}

.heartHappy {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8200;
    border: 2px solid rgb(0, 0, 0);
}

.heartRabid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0053;
    border: 2px solid black;
}

.heartSad {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38b6ff;
    border: 2px solid black;
}

.heartWorried {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    border: 2px solid black;
}

.heartScary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00fff2;
    border: 2px solid black;
}

.heart {
    color: #fdfae6;
    font-size: 20px;
}

footer {
    background-color: #000;
    width: 100%;
}

/* ---------- RESPONSIVE --------- */
@media screen and (max-width: 420px) {
    .section-book {
        display: none;
    }

    .containerButtons {
        display: none;
    }

    .containerHearts {
        display: none;
    }

    header {
    }

    .book-mobile {
        background-color: #FFB1BE;
        padding: 10px;
        border-radius: 15px;
        border: solid 5px #000000;
        box-shadow: 0 0 5px rgb(41, 41, 41);
    }

    .page-mobile {
        border: solid 1px #000000;
        border-radius: 15px;
        box-shadow: 0 0 5px rgb(41, 41, 41);
        display: flex;
        flex-direction: column; 
        background-color: #fdfae6;
        padding: 10px;
    }
}

@media screen and (min-width: 421px) {
    .book-mobile {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    header {
        margin-bottom: 0;
    }

    main {
    height: 70vh;
    }

    .section-book {
        margin-left: 300px;
    }

    footer {
        margin: 0;
    }
}
