* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Jersey 10", sans-serif;
    background-image: url("/img/bgMinors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 40px;
    a {
        text-decoration: none;
    }
}

header {
    /* background-color: aliceblue; */
    height: 40%;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
        img {
            width: 100%;
            height: 100%;
        }
        .anchor-logo {
            width: 100%;
            height: 100%;
        }
}

.nav-logo{
    width: 30%;
    height: 45%;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.nav-links a{
    margin: 0 5%;
}

.search{
    width: 20%;
    height: 100%;
}
.search-input{
    border-radius: 10px;
    border: none;
    padding: 4px;
    margin-right: 2%;
    width: 80%;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}
.magnifier{
    text-align: center;
    border-radius: 50%;
    padding: 4px;
    border: none;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}

main {
    padding: 1rem;
    height: 80vh;
    display: flex;
}
.section-book{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    
}

.containerButtons {
    /* background-color: brown; */
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: end;
}

.containerHearts {
    /* background-color: yellow; */
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.buttonFeel {
    width: 140px;
    height: 50px;
    justify-content: end;
    border-radius: 30px;
    background-color: #fdfae6;
    border: 2px solid black;
}


/* Animation buttons */

/* Anxiety button */
.buttonAnxiety {
    --bg: #fdfae6;
    --hover-bg: #004aad;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonAnxiety:hover {
    color: #fdfae6;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonAnxiety:active {
    transform: translate(0);
    box-shadow: none;
}

/* Depression button */
.buttonDepression {
    --bg: #fdfae6;
    --hover-bg: #a6ff2d;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonDepression:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonDepression:active {
    transform: translate(0);
    box-shadow: none;
}

/* Fear button */
.buttonFear {
    --bg: #fdfae6;
    --hover-bg: #ff66c4;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonFear:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonFear:active {
    transform: translate(0);
    box-shadow: none;
}

/* Frustration button */
.buttonFrustration {
    --bg: #fdfae6;
    --hover-bg: #737373;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonFrustration:hover {
    color: #fdfae6;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonFrustration:active {
    transform: translate(0);
    box-shadow: none;
}

/* Imposter syndrom button */
.buttonSyndrom {
    --bg: #fdfae6;
    --hover-bg: #ff3131;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonSyndrom:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonSyndrom:active {
    transform: translate(0);
    box-shadow: none;
}

.heartAnsiedad {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004aad;
    border: 2px solid rgb(0, 0, 0);
}

.heartDepresion {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6ff2d;
    border: 2px solid black;
}

.heartMiedo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff66c4;
    border: 2px solid black;
}

.heartFrustracion {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #737373;
    border: 2px solid black;
}

.heartSindrome {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3131;
    border: 2px solid black;
}

.heart {
    color: #fdfae6;
    font-size: 20px;
}
