* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "Jersey 10", sans-serif;   Posible tipo de fuente*/
    background-image: url("/img/bgMinors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url("/img/cursor1.png"),  auto;
}

a {
    text-decoration: none;
    cursor: url("/img/mano.png"),  auto;
}

button:hover {
    cursor: url("/img/mano.png"),  auto;
}

@media (max-width: 400px){
    html{
        background-size: 390%;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 40px;
    a {
        text-decoration: none;
    }
}

main {
    /* background-color: rgb(73, 64, 64); */
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* -----------------------------------Buttons and hearts------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    
}

.containerButtons {
    /* background-color: brown; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    justify-content: end;
}

.containerHearts {
    /* background-color: yellow; */
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
@media (max-width: 400px){
    .containerHearts{
        width: 23%;
    }
}

.container-buttons-hearts{
    display: flex;
    width: 50%;
    justify-content: end;
}

.buttonFeel {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fdfae6;
    border: 2px solid black;
}
@media (max-width: 400px){
    .buttonFeel{
        font-size: 70%;
        width: 100px;
        height: 40px;
    }

}


/* Animation buttons */

/* Happy button */
.buttonHappy {
    --bg: #fdfae6;
    --hover-bg: #ff8200;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonHappy:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonHappy:active {
    transform: translate(0);
    box-shadow: none;
}

/* Rabid button */
.buttonRabid {
    --bg: #fdfae6;
    --hover-bg: #ff0053;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonRabid:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonRabid:active {
    transform: translate(0);
    box-shadow: none;
}

/* Sad button */
.buttonSad {
    --bg: #fdfae6;
    --hover-bg: #38b6ff;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonSad:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonSad:active {
    transform: translate(0);
    box-shadow: none;
}

/* Worried button */
.buttonWorried {
    --bg: #fdfae6;
    --hover-bg: #ffcc00;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonWorried:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonWorried:active {
    transform: translate(0);
    box-shadow: none;
}

/* Scary button */
.buttonScary {
    --bg: #fdfae6;
    --hover-bg: #00fff2;
    --hover-text: #000;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}
.buttonScary:hover {
    color: black;
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem black;
}
.buttonScary:active {
    transform: translate(0);
    box-shadow: none;
}

.heartHappy {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8200;
    border: 2px solid rgb(0, 0, 0);
}

.heartRabid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0053;
    border: 2px solid black;
}

.heartSad {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #38b6ff;
    border: 2px solid black;
}

.heartWorried {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    border: 2px solid black;
}

.heartScary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00fff2;
    border: 2px solid black;
}

.heart {
    color: #fdfae6;
    font-size: 20px;
}
@media (max-width: 400px){
    .heart{
        font-size: 70%;
        width: 40px;
        height: 40px;
    }

}

/* -----------------------------------Image beside the buttons------------------------------------------- */
.containerBox {
    background-image: url(/img/objeto1.png);
    background-repeat: no-repeat;
    background-size: 40%;
    width: 50%;
    height: 400px;
}
@media (max-width: 400px){
    .containerBox {
    background-image: url(/img/bgMinors.jpg)

    body {
        position: relative;
    }
    
    .nubes {
        background-image: url(/img/nube.png);
        background-size: 100% 100%;
        z-index: 2;
    }
    
    @keyframes movimiento1 {
        from {margin-left: 79%;}
        to {margin-left: 65%;}
    }
    
    @keyframes movimiento2 {
        from {margin-left: 89%;}
        to {margin-left: 80%;}
    }
    
    @keyframes movimiento3 {
        from {margin-left: 59%;}
        to {margin-left: 75%;}
    }
    
    @keyframes movimiento4 {
        from {margin-left: 70%;}
        to {margin-left: 67%;}
    }
    
    @keyframes movimiento5 {
        from {margin-left: -5%;}
        to {margin-left: 10%;}
    }
    
    @keyframes movimiento6 {
        from {margin-left: -15%;}
        to {margin-left: 23%;}
    }
    
    @keyframes movimiento7 {
        from {margin-left: -10%;}
        to {margin-left: 10%;}
    }
    
    @keyframes movimiento8 {
        from {margin-left: 5%;}
        to {margin-left: 30%;}
    }
    
    .nubes:nth-child(1) {
        background-image: url(/img/nube.png);
        animation: movimiento1 6s linear forwards;
    }
    
    .nubes:nth-child(2) {
        background-image: url(/img/nube.png);
        animation: movimiento2 6s linear forwards;
    }
    
    .nubes:nth-child(3) {
        background-image: url(/img/nube.png);
        animation: movimiento3 6s linear forwards;
    }
    
    .nubes:nth-child(4) {
        background-image: url(/img/nube.png);
        animation: movimiento4 6s linear forwards;
    }
    
    .nubes:nth-child(5) {
        background-image: url(/img/nube.png);
        animation: movimiento5 6s linear forwards;
    }
    
    .nubes:nth-child(6) {
        background-image: url(/img/nube.png);
        animation: movimiento6 6s linear forwards;
    }
    
    .nubes:nth-child(7) {
        background-image: url(/img/nube.png);
        animation: movimiento7 6s linear forwards;
    }
    
    .nubes:nth-child(8) {
        background-image: url(/img/nube.png);
        animation: movimiento8 6s linear forwards;
    }
    
    .nube1 {
        position: absolute;
        top: 50px;
        width: 150px;
        height: 50px;
    }
    
    .nube2 {
        position: absolute;
        top: 100px;
        width: 150px;
        height: 50px;
    }
    
    .nube3 {
        position: absolute;
        top: 150px;
        width: 150px;
        height: 70px;
    }
    
    .nube4 {
        position: absolute;
        top: 200px;
        width: 150px;
        height: 50px;
    }
    
    .nube5 {
        position: absolute;
        top: 300px;
        width: 150px;
        height: 50px;
    }
    
    .nube6 {
        position: absolute;
        top: 350px;
        width: 170px;
        height: 85px;
    }
    
    .nube7 {
        position: absolute;
        top: 420px;
        width: 150px;
        height: 50px;
    }
    
    .nube8 {
        position: absolute;
        top: 470px;
        width: 180px;
        height: 90px;
    }