html {
    cursor: url("/img/cursor1.png"),  auto;
}

a {
    text-decoration: none;
    cursor: url("/img/mano.png"),  auto;
}

.links {
    line-height: 2;
    position: relative;
}

.links::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

.links:hover::before {
    width: 100%;
    left: 0;
}

button:hover {
    cursor: url("/img/mano.png"),  auto;
}

header {
    height: 40%;
    margin-top: 0.8%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    /* Probando estilos  */

    /* background-color: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px black; */
        img {
            width: 130%;
            height: 100%;
        }
        .anchor-logo {
            width: 100%;
            height: 100%;
        }
}

.nav-logo{
    width: 20%;
    height: 45%;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.nav-links-hamburger{
    display: none;
}



.nav-links a{
    margin: 0 5%;
    color: black;
}

.search{
    display: flex;
    width: 20%;
    height: 100%;
}
.search-input{
    border-radius: 10px;
    border: none;
    padding: 4px;
    margin-right: 2%;
    width: 80%;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}
.magnifier{
    text-align: center;
    border-radius: 50%;
    padding: 4px;
    border: none;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}

.hamburger-menu{
    display: none;
}

.label-hamburger{
    display: none;
}

@media (max-width: 768px){
    header {
        margin-top: 0;
    }

    .label-hamburger{
        display: inline-block;
        cursor: pointer;
        position:relative;
        right: 10px;
        top: 3.5px;

        z-index: 1;
    }
    .nav-links{
        display: none;
    }

    .search{

        width: 40%;
    }
    .search-input{
        width: 70%;
    }
    .hamburger-menu:checked + .nav-links-hamburger{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: #222222b2;
        border-left: 1px solid black;
        z-index: 1;
    }
    .hamburger-menu:checked + .nav-links-hamburger a{
        margin-bottom: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
}
