header {
    /* background-color: aliceblue; */
    height: 40%;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
        img {
            width: 100%;
            height: 100%;
        }
        .anchor-logo {
            width: 100%;
            height: 100%;
        }
}

.nav-logo{
    width: 30%;
    height: 45%;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.nav-links-hamburger{
    display: none;
    opacity: 0;

    transition: opacity 0.5s, display 0.5s;
}

.nav-links a{
    margin: 0 5%;
    color: black;
}

.search{
    width: 20%;
    height: 100%;
}
.search-input{
    border-radius: 10px;
    border: none;
    padding: 4px;
    margin-right: 2%;
    width: 80%;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}
.magnifier{
    text-align: center;
    border-radius: 50%;
    padding: 4px;
    border: none;
    box-shadow: 0.25rem 0.25rem rgba(66, 66, 66, 0.596);
}

.hamburger-menu{
    display: none;
}

.label-hamburger{
    display: none;
}
@media (max-width: 400px){
    .label-hamburger{
        display: inline-block;
        cursor: pointer;
        position:relative;
        right: 10px;
        z-index: 1;
    }
    .nav-links{
        display: none;
    }

    .search{
        width: 40%;
    }
    .search-input{
        width: 75%;
    }
    .hamburger-menu:checked + .nav-links-hamburger{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: greenyellow;
        opacity: 1;
    }
    .hamburger-menu:checked + .nav-links-hamburger a{
        margin-bottom: 15px;
    }
    
}
